java.net.URISyntaxException: Illegal character in path

```
Illegal character in path at index 94: file:/bigdatahdfs/project/cib/integrated/account/2018-12-04/reportDate=1/account_info_version={5}
java.net.URISyntaxException: Illegal character in path at index 94: file:/bigdatahdfs/project/cib/integrated/account/2018-12-04/reportDate=1/account_info_version={5}
	at java.net.URI$Parser.fail(URI.java:2848)
	at java.net.URI$Parser.checkChars(URI.java:3021)
	at java.net.URI$Parser.parseHierarchical(URI.java:3105)
	at java.net.URI$Parser.parse(URI.java:3053)
	at java.net.URI.<init>(URI.java:588)
	at za.co.absa.spline.persistence.mongo.serialization.CommonSalatContext$$anon$1.deserialize(CommonSalatContext.scala:35)
	at za.co.absa.spline.persistence.mongo.serialization.CommonSalatContext$$anon$1.deserialize(CommonSalatContext.scala:32)
	at salat.transformers.CustomTransformer.in(CustomTransformer.scala:39)
	at salat.transformers.CustomSerializer.transform(Transformer.scala:120)
	at salat.transformers.Transformer$$anonfun$1.apply(Transformer.scala:103)
	at salat.transformers.Transformer$$anonfun$1.apply(Transformer.scala:101)
	at scala.Option.flatMap(Option.scala:171)
	at salat.transformers.Transformer.transform_$bang(Transformer.scala:101)
	at salat.Field.in_$bang(Field.scala:73)
	at salat.ConcreteGrater$$anonfun$7$$anonfun$apply$2.apply(Grater.scala:322)
	at salat.ConcreteGrater$$anonfun$7$$anonfun$apply$2.apply(Grater.scala:322)
	at scala.Option.flatMap(Option.scala:171)
	at salat.ConcreteGrater$$anonfun$7.apply(Grater.scala:322)
	at salat.ConcreteGrater$$anonfun$7.apply(Grater.scala:307)
	at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
	at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
	at scala.collection.immutable.List.foreach(List.scala:392)
	at scala.collection.TraversableLike$class.map(TraversableLike.scala:234)
	at scala.collection.immutable.List.map(List.scala:296)
	at salat.ConcreteGrater.asObject(Grater.scala:307)
	at za.co.absa.spline.persistence.mongo.MongoDataLineageReader$$anonfun$findDatasets$1$$anonfun$apply$5.apply(MongoDataLineageReader.scala:81)
	at za.co.absa.spline.persistence.mongo.MongoDataLineageReader$$anonfun$findDatasets$1$$anonfun$apply$5.apply(MongoDataLineageReader.scala:80)
	at scala.collection.Iterator$$anon$11.next(Iterator.scala:410)
	at scala.collection.Iterator$class.foreach(Iterator.scala:891)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1334)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ListBuffer.$plus$plus$eq(ListBuffer.scala:183)
	at scala.collection.mutable.ListBuffer.$plus$plus$eq(ListBuffer.scala:45)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at scala.collection.AbstractIterator.to(Iterator.scala:1334)
	at scala.collection.TraversableOnce$class.toList(TraversableOnce.scala:294)
	at scala.collection.AbstractIterator.toList(Iterator.scala:1334)
	at za.co.absa.spline.persistence.mongo.MetricsTest$$anonfun$1$$anonfun$apply$mcV$sp$3$$anonfun$apply$3.apply(MetricsTest.scala:73)
	at za.co.absa.spline.persistence.mongo.MetricsTest$$anonfun$1$$anonfun$apply$mcV$sp$3$$anonfun$apply$3.apply(MetricsTest.scala:71)
	at scala.util.Success$$anonfun$map$1.apply(Try.scala:237)
	at scala.util.Try$.apply(Try.scala:192)
	at scala.util.Success.map(Try.scala:237)
	at scala.concurrent.Future$$anonfun$map$1.apply(Future.scala:237)
	at scala.concurrent.Future$$anonfun$map$1.apply(Future.scala:237)
	at scala.concurrent.impl.CallbackRunnable.run(Promise.scala:36)
	at org.scalatest.concurrent.SerialExecutionContext.recRunNow(SerialExecutionContext.scala:120)
	at org.scalatest.concurrent.SerialExecutionContext.runNow(SerialExecutionContext.scala:111)
	at org.scalatest.AsyncSuperEngine.runTestImpl(AsyncEngine.scala:295)
	at org.scalatest.AsyncFunSpecLike$class.runTest(AsyncFunSpecLike.scala:441)
	at org.scalatest.AsyncFunSpec.runTest(AsyncFunSpec.scala:2263)
	at org.scalatest.AsyncFunSpecLike$$anonfun$runTests$1.apply(AsyncFunSpecLike.scala:474)
	at org.scalatest.AsyncFunSpecLike$$anonfun$runTests$1.apply(AsyncFunSpecLike.scala:474)
	at org.scalatest.AsyncSuperEngine$$anonfun$traverseSubNodes$1$1.apply(AsyncEngine.scala:434)
	at org.scalatest.AsyncSuperEngine$$anonfun$traverseSubNodes$1$1.apply(AsyncEngine.scala:419)
	at scala.collection.LinearSeqOptimized$class.foldLeft(LinearSeqOptimized.scala:124)
	at scala.collection.immutable.List.foldLeft(List.scala:84)
	at org.scalatest.AsyncSuperEngine.traverseSubNodes$1(AsyncEngine.scala:419)
	at org.scalatest.AsyncSuperEngine.org$scalatest$AsyncSuperEngine$$runTestsInBranch(AsyncEngine.scala:475)
	at org.scalatest.AsyncSuperEngine$$anonfun$traverseSubNodes$1$1.apply(AsyncEngine.scala:460)
	at org.scalatest.AsyncSuperEngine$$anonfun$traverseSubNodes$1$1.apply(AsyncEngine.scala:419)
	at scala.collection.LinearSeqOptimized$class.foldLeft(LinearSeqOptimized.scala:124)
	at scala.collection.immutable.List.foldLeft(List.scala:84)
	at org.scalatest.AsyncSuperEngine.traverseSubNodes$1(AsyncEngine.scala:419)
	at org.scalatest.AsyncSuperEngine.org$scalatest$AsyncSuperEngine$$runTestsInBranch(AsyncEngine.scala:483)
	at org.scalatest.AsyncSuperEngine.runTestsImpl(AsyncEngine.scala:550)
	at org.scalatest.AsyncFunSpecLike$class.runTests(AsyncFunSpecLike.scala:474)
	at org.scalatest.AsyncFunSpec.runTests(AsyncFunSpec.scala:2263)
	at org.scalatest.Suite$class.run(Suite.scala:1147)
	at org.scalatest.AsyncFunSpec.org$scalatest$AsyncFunSpecLike$$super$run(AsyncFunSpec.scala:2263)
	at org.scalatest.AsyncFunSpecLike$$anonfun$run$1.apply(AsyncFunSpecLike.scala:478)
	at org.scalatest.AsyncFunSpecLike$$anonfun$run$1.apply(AsyncFunSpecLike.scala:478)
	at org.scalatest.AsyncSuperEngine.runImpl(AsyncEngine.scala:620)
	at org.scalatest.AsyncFunSpecLike$class.run(AsyncFunSpecLike.scala:478)
	at org.scalatest.AsyncFunSpec.run(AsyncFunSpec.scala:2263)
	at org.scalatest.tools.SuiteRunner.run(SuiteRunner.scala:45)
	at org.scalatest.tools.Runner$$anonfun$doRunRunRunDaDoRunRun$1.apply(Runner.scala:1346)
	at org.scalatest.tools.Runner$$anonfun$doRunRunRunDaDoRunRun$1.apply(Runner.scala:1340)
	at scala.collection.immutable.List.foreach(List.scala:392)
	at org.scalatest.tools.Runner$.doRunRunRunDaDoRunRun(Runner.scala:1340)
	at org.scalatest.tools.Runner$$anonfun$runOptionallyWithPassFailReporter$2.apply(Runner.scala:1011)
	at org.scalatest.tools.Runner$$anonfun$runOptionallyWithPassFailReporter$2.apply(Runner.scala:1010)
	at org.scalatest.tools.Runner$.withClassLoaderAndDispatchReporter(Runner.scala:1506)
	at org.scalatest.tools.Runner$.runOptionallyWithPassFailReporter(Runner.scala:1010)
	at org.scalatest.tools.Runner$.run(Runner.scala:850)
	at org.scalatest.tools.Runner.run(Runner.scala)
	at org.jetbrains.plugins.scala.testingSupport.scalaTest.ScalaTestRunner.runScalaTest2(ScalaTestRunner.java:131)
	at org.jetbrains.plugins.scala.testingSupport.scalaTest.ScalaTestRunner.main(ScalaTestRunner.java:28)
```

It brakes on an attempt to deserialize a path containing curly braces as `URI` instance. Java URI standard (with respect to [RFC 2396, section 2.4.3](http://jkorpela.fi/rfc/2396/full.html#2.4.3)) requires curly braces being always encoded.

The reason why an unencoded path made it into the database in the first place was the data type mismatch in the Spline model. The path was captured as a string (`model.op.Write.path: String`), but is read as a URI (`model.PersistedDatasetDescriptor.path: URI`).

I think the easiest and most appropriate fix would be to align the types to the most relaxed one, which is `String`.